extends base
include mixins/video

block content
    nav 
        ul 
            li 
                a(href="/videos/upload") Upload Video
            li  
                a(href="/search") Search Video
    each info in videos 
        +video(info)
    else 
        li sorry nothing found